@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/NguoiDungCssLayout/fonts.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/screen.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/NguoiDungCssLayout.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    @*Chèn nivo slider*@
    <link href="~/NivoSlider/nivo-slider.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.pack.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.js"></script>
</head>
<body>
    
    <div id="ToanTrang">
        <section class="blank">
            <div class="flash">
                <div class="icDienThoai">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    (+84) 1685-214-127
                </div>
                <div class="DangKyDangNhap">
                    <i class="fa fa-unlock" aria-hidden="true"></i>
                    @Html.ActionLink("Đăng ký", "DangKy", null, htmlAttributes: new { @class = "DangKy" })
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    @Html.ActionLink("Đăng nhập", "DangNhap", null, htmlAttributes: new { @class = "DangNhap" })
                </div>

            </div>

            <div class="flash success" id="divDanhMuc">
                @*Hộp thoại tìm kiếm*@
                <div id="txtTimKiem">
                    @using (Html.BeginForm())
                    {
                        @Html.TextBox("txtTimKiem", "", htmlAttributes: new { @class = "TextBoxTimKiem", @placeholder = "Tìm kiếm" })
                        <div id="divHinhAnhTimKiem">
                            <button type="submit"><img src="~/Content/HinhAnh/find32x32.png" /></button>
                        </div>
                    }
                </div>
                <ul class="navMenu">
                    <li>
                        <a href="#">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="#">Liên hệ</a>
                    </li>
                    <li>
                        <a href="#">Hướng dẫn</a>
                    </li>
                    <li>
                        <a href="#">Sách</a>
                    </li>

                </ul>
            </div>
        </section>

        <section>
            <div id="divMenuLeft">
                <div class="activity">
                    @Html.Action("SachMoiPartial", "Home")
                </div>
            </div>
            @*Chèn div nivo slider*@
            <div id="slider" class="nivoSlider">
                <img src="~/Content/HinhAnh/book-07.jpg" />
                <img src="~/Content/HinhAnh/huge.6.33646.png" />
                <img src="~/Content/HinhAnh/images.jpg" />
                <img src="~/Content/HinhAnh/miler-lagos-book-igloo.jpg" />
            </div>
            <div style="clear:both"></div>
        </section>
        @*Div body*@
        <div id="NoiDung">
            @RenderBody()
        </div>
        <section>
            <div>
                <a href="#" class="button">Tình yêu - Tình bạn</a>
                <a href="#" class="button button-submit">Cha mẹ - Con</a>
                <a href="#" class="button">Công nghệ - Đám mây</a>
                <a href="#" class="button button-submit">Anime</a>
            </div>
        </section>
        @*Div nhà xuất bản*@
        <section class="blank items">
            <div id="divLeft">
                <div class="item">
                    <img src="http://lorempixel.com/400/300/" alt="Image">

                    <div class="item-info">
                        <h1>Nhà xuất bản</h1>
                        <div><a href="#">Kim Đồng</a></div>
                        <div><a href="#">Kim Đồng</a></div>
                        <div><a href="#">Kim Đồng</a></div>
                    </div>
                </div>

            </div>
                <div id="divRight">
                    @RenderSection("NoiDungBenPhai");
                </div>
                <div style="clear:both"></div>
                <div>
                    <a href="#" class="button button-buy">Chào các bạn đến với kho tri thức của nhân loại</a>
                </div>
        </section>
    </div>
    @*script chayj nivo slider*@
        <script type="text/javascript">
        $(window).on('load', function() {
            $('#slider').nivoSlider({
                controlNav: false,
                nextText: '',
                prevText:''

            });
        });
        </script>
</body>
</html>
